$bg-color:yellow;
body {
    background: $bg-color;
}

#btn {
    width: 100px;
    height: 100px;
    background-color: red;
}

#squad {
    width: 100px;
    height: 100px;
    background: #00ff00;
    border-radius: 50%;
}
#circle{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 100px;
}